<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
    <link rel="stylesheet"  type="text/css"  href="/stylesheets/add_admin.css">
</head>
<body>
<div class="home_navigation">
    <p class="head_line"> pos机后台管理系统</p>
</div>
<div class="page_content">
    <div class="left_nevigation">
        <a href="admin"><button class="shopping_manage">商品管理</button></a>
        <button class="discount_activity">折扣活动</button>
    </div>
    <div class="operating_page">
        <a href="admin"><button class="operating_shopping">保存商品</button></a>
        <button class="operating_shopping">添加属性</button>
        <button class="operating_shopping">删除属性</button>
        <button class="operating_shopping">  取消 </button>
        <div class="adjunction">
            <p class="shopping_info">商 品 名 称： <input type="text" class="add_info" ></p>
            <p class="shopping_info">单 价 (元)  ：   <input type="text" class="add_info" ></p>
        </div>
    </div>
</div>
</body>
</html>